<div class="resume">
    <div class="resume-left">
      <img src="me.png" alt="photo">
          <span>Email:</span>
          <a href="#" color="blue">1911986273@qq.com</a>
          
    </div>
    <div class = 'resume-content'>
        <div class="resume-entry">
            <%- page.content %>
        </div>
    </div>
    <div class="clearfix"></div>
</div>